# --- TallerPro360 OT API ---
TENANT_ID=a4cc5fc6-a27b-43af-91af-bab64b4e97ce
APP_CLIENT_ID=94997922-80e9-4664-8743-85316d34ba1b
REQUIRED_SCOPE=productos.read
# RDS PostgreSQL (Academy): reemplazar host/credenciales
DATABASE_URL=postgresql://tallerpro360:ChangeMe_2025!@<RDS-ENDPOINT>:5432/tallerpro360
